/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
  color: #0066cc;
}

h1,
h2,
h3 {
  margin: 10px 0;
}

p {
  line-height: 1.6;
}

/* Container */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header Section */
header {
  background-color: #252525;
  color: white;
  text-align: center;
  padding: 50px 0;
}

header h1 {
  font-size: 48px;
}

header h2 {
  font-weight: 300;
  margin: 10px 0;
  font-size: 26px;
  color: #00b8d4;
}

#profile-pic {
  width: 250px;
  border-radius: 90%;
  margin-bottom: 5px;
}

#language-switch {
  position: fixed; /* Makes it fixed in the viewport */
  bottom: 850px;   /* 20px from the bottom */
  right: 20px;    /* 20px from the right */
  /*background-color: white; /* Optional: Background color for visibility */
  padding: 10px;  /* Padding around the buttons */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Shadow for a nicer look */
  z-index: 1000;  /* Ensures it stays above other content */
}

#language-switch button {
  margin: 0 5px; /* Spacing between the buttons */
  padding: 8px 12px; /* Padding inside the buttons */
  font-size: 20px; /* Font size for the buttons */
  border: 1px solid #007bff; /* Nice border */
  border-radius: 4px; /* Rounded corners */
  background-color: #007bff; /* Background color */
  color: #ffffff; /* Text color */
  cursor: pointer; /* Pointer on hover */
}

#language-switch button:hover {
  background-color: #0056b3; /* Darker background on hover */
}

#language-switch button.active {
  background-color: #00b8d4;
}

/* Main CV Section */
.cv-section {
  background-color: white;
  box-shadow: 0 2px 4px rgba(8, 4, 229, 0.1);
  margin-top: -30px;
  border-radius: 8px;
  padding: 40px;
}

.cv-section h2 {
  border-bottom: 2px solid #00b8d4;
  padding-bottom: 10px;
}

.cv-section .content {
  margin-top: 20px;
}

/* Grid System */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-50 {
  width: 48%;
  margin-bottom: 20px;
}

.col-100 {
  width: 100%;
  margin-bottom: 20px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px 0;
  background-color: #252525;
  color: white;
}

footer p {
  font-size: 14px;
}

footer a {
  color: #00b8d4;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .col-50 {
    width: 100%;
  }
}